.banner-img-div {
    background-image: url("../../images//banner.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100%;
    margin: auto;
}